h1 {
  margin-bottom: 25px;
  font-size: 68px;
  letter-spacing: 2px;
}

h2 {
  margin-bottom: 20px;
  font-size: 36px;
  letter-spacing: 2px;
}

p {
  font-size: 18px;
  letter-spacing: 1px;
}

a {
  text-decoration: none;
  color: white;
  display: block;
  font-size: 18px;
  letter-spacing: 1px;
  font-size: 18px;
}
